.modal-dialog{
    margin: 0 auto;
    margin-top: 10%;
    padding: 0;
}

.modal-content{
    background-color: white;
    padding: 0 18px;
    border-radius: 10px;
    color: black;
}

.chartcontainer{
    max-width: 2px;
    max-height: 600px;
}

.main-section{
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

#logo {
    font-size: 44px;
    padding-top: 10px
}


.colorpicker {
    height: 10%;
}

.mb-10{
    margin-bottom: 3.5rem !important;
}
.mb-10{
    padding-bottom: 3.5rem !important;
}